html{
    position: relative;
    
    background-color: black;
}
html,body{
    height: 100%;
}

body{
    display: block;
    background-image: url("../Imagenes/fondo2.png");
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: block;
    background: black;
    padding: 5px;
}
header h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5px;
}

header a{
    color: white;
    letter-spacing: 1px;
}

header a:hover{
    text-transform: none !important;
    color: white;
    text-decoration: none;
}

input[type=text]{

    border: 1px solid silver;
    border-radius: 0px !important;
    color: black;

}

.headerInfoUser{
    margin-top: 13px;

}

.hreftPrincipal{
    color: #a1a1a1;
    text-decoration: none;
}

.hreftPrincipal:hover{
    text-decoration: none;
}

.centrarElemento{
    display: block;
    margin: 0 auto;
}

.sinFondo{
    background-image: none !important;
}

.hrefOlvidoContrasenia{
    margin-top: 10px;
}

.hrefOlvidoContrasenia:hover{
    text-decoration: none;
}
.botonPrincipal{
    background: #fe0002;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 12px;
}

.requerido{
    color: red;
    font-weight: bold;
}

.btnPrincipalBlanco{
    background: white !important;
    border:1px solid silver;
    color: black;
    

}

.btnLoginEncabezado{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: bold;
}

.btnFormulario{
    margin-top: 15px !important;
    display: block;
    margin: 0 auto;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 100px;
    padding-right: 100px;
}

.btnLoginContenedor{
    width: 100%;
    border-radius: 2px;
    padding: 7px;
    margin-top: 15px;
}

.btnLoginContenedor label{
    margin-bottom: 15px;

}

.width40{
    width: 40%;
}
.top20Px{
    margin-top: 20px;
}

.contenedorLogin{
    width: 40%;
    display: block;
    background: white;
    border: 1px solid silver;
    border-radius: 5px;
    color: silver;
    margin: 0 auto;
    margin-top: 100px;
}

label{
    color: #969696;
}

::placeholder{
    color: #969696;
}

.contenedorLogin label{
    text-align: center !important;
    font-size: 15px;
}

.rojoPrimario{
    color: #fe0002;
}

.btnLogIn{
    display: block;
    margin: 0 auto;
    width: 100%;
    background: white;
    text-align: center !important;
    border-radius: 5px;
    border: 1px solid silver;
    margin-top: 20px;
    padding: 7px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 37px 0px #C4C4C4; 
    box-shadow: 0px 0px 37px 0px #C4C4C4;
}

.contenedorTarjetaGeneral{
    padding: 15px;
}

.foto{
    background: #D8D8D8;
    width: 100%;
    display: block;
    height: 195px;
}

footer{
    padding: 7px;
    position: absolute;
    width: 100%;
    background-color: black;
    bottom: 0px;
    margin: 0 auto;
}

footer a{
    color: white;
    margin-right: 40px;
}

footer a:hover{
    color: white;
    text-decoration: none;
}

footer p{
    color: white;
    margin-left: 50px;
}

.tarjeta{
    display: block;
    margin-top: 40px;
    padding: 15px;
    border-radius: 7px;
    background: white;
    -webkit-box-shadow: 0px 0px 37px 0px #C4C4C4; 
    box-shadow: 0px 0px 37px 0px #C4C4C4;
}

.tarjeta .contenedorFormulario{
    margin-top: 40px !important;
    margin-bottom: 40px !important;

}

.tarjeta h2{
    position: relative;
    display: block;
    background-color: black;
    text-align: center;
    padding: 13px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tarjeta > h2 > span {
    width: 100%;
    background: black;
    color: white;
    text-transform: uppercase;
}

.menuNavegacion{
    width: 100%;
    background: black;
    margin-top: 10px;
    display: flex;   
}

.menuNavegacion > nav{
    display: block;
    margin: 0 auto;
}

.menuNavegacion > nav > ul{
    display: flex;
    margin-top: 30px;
    padding-left: 0px;
    border: 2px solid white;
    border-radius: 7px;
   margin-bottom: 30px;
}

.menuNavegacion > nav > ul > li{

    padding: 10px;
    list-style: none;
    text-align: left;
    border-right: 3px solid white 
}

.menuNavegacion > nav > ul > li:hover{
    background-color: #fe0002;
}


.menuNavegacion > nav > ul > li > a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.contenedorFormulario{
    width: 60%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.ocultar{
    display: none;
}

/*Subir imagenes */ 

.uploadImage{
    background: #DDDDDD;
    color: #8A8A8A;
    padding: 15px;
    text-align: center;
}

.dragAndDrop{
    border-style: dashed;
    padding: 25px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: block;
    padding: 5px 12px;
    cursor: pointer;
    width: 150px;
    background: #FE0002;
    margin: 0 auto;
    color: white; 
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px
}

/*Creditos */
.sumary{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.sumary > .row{
    margin-bottom: 35px;
}

.totalPrecio{
    background: #D8D8D8;
}

.totalPrecio ul {
    list-style: none;
    padding: 1rem;
}

.mostrar{
    display: block;
}

.formDetails .col-md-3{
    text-align: right;

}

.formDetails .col-md-3 label{
    margin-left:70px;
    text-align: right;
}

.formDetails .col-md-3, .col-md-9{
    display: block;
    margin-top: 8px !important;
    border-radius: 1px !important;
    margin-bottom: 8px !important;
}

.formDetails .form-control{
    border-radius: 0px !important;
}

.formDetails > .form-control::placeholder{
    color: silver;
    font-size: 15px;
}

/* Registro*/
.register{

    background-image: url("../Imagenes/fondo.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: contain;
}

.register label{
    color: white;
}


.register .containerRegistro{
    background: black !important;
    -webkit-box-shadow: none !important; 
    box-shadow: none !important;
    box-shadow: transparent !important;
}

.register input[type=text]{
    background: black !important;
    color: white;
}
.register input[type=text]::placeholder{
    color: silver !important;
}

.register .containerRegistro h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.register .containerRegistro h2 span{
    color: #fe0002;
    font-size: 22px;
}

.register .containerRegistro .tarjetaRegistro{
    background: transparent;
    width: 100% !important;
    display: block;
    padding: 10px
}

.register .containerRegistro .tarjetaRegistro .col-md-8{
    max-width: none !important;
    background: transparent;
    color: white;

}

.register .containerRegistro .tarjetaRegistro .col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .containerRegistro:after {
    content: '\00a0';
    background-image:
      radial-gradient(at 50% 0, blue 0%, red 50%, transparent 75%);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    float:left;
    width:100%;
}



/*Terminos de uso*/

.terminosUso{
    display: block;
    background-image: url("../Imagenes/fondo4.jpg");
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.terminosUso .contenedorPrincipal .col-md-7{
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 15px;

}



.terminosUso .contenedorPrincipal h2{
    background: black;
    color: white;
    width: 100%;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}


.terminosUso .contenedorPrincipal .tarjetaTerminos .row2{
    margin-top: -8px;
}

.terminosUso .contenedorPrincipal .tarjetaTerminos p{
    background: white;
    color: black;
    width: 100%;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    font-size: 21px;

    -webkit-box-shadow: 0px 0px 37px 0px black; 
    box-shadow: 0px 0px 37px 0px black;

}


.terminosUso .contenedorPrincipal .tarjetaTerminos .row:first-child{
    padding-top: 10px;
}
.terminosUso .contenedorPrincipal .tarjetaTerminos .row{
    padding-left: 10px;
    padding-right: 10px;
}


 .aceptarTerminos{
    margin-top: 20px;
}

.aceptarTerminos p, .aceptarTerminos label{
    font-size: 17px;
    font-weight: 400; 
}



/*ADD INPROVE */
.mejorar{
    background-image: white;
    background: white;
}

.toggle-on.btn{
    background: red;
    border: none !important;
}

.toggle-on.btn:hover{
    background: red;
    border: none;
}

.mejorar .btn-primary{
    background: red;
}


/*CREDITO */ 

.credito label{
    margin-left: 4px;
    margin-top: 13px;
    font-weight: 600;
}

.credito label span{
    margin-left: 8px;
}

.totalPrecio li{
    font-size: 19px;
    padding: 1rem;
    font-weight: 500;
    width: 100%;
}

.centrarCreditos{
    justify-content: center;
}

.numeroEscondido .col-md-1{
    width: 100%;
    height: 20px;
    color: red;
    background: #7C7C7C;
    margin-top: 10px;
    margin-left: 10px;
}

.metodosPago{
    width: 100%;
    height: 100px;
    background: silver;

}

.metodosPago p{
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem;
}

.centrarCreditos .btnFormulario{
    margin-top: 2rem !important;
    margin-bottom: 2rem;
}

/*HOME*/
.locacionCategoria{
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 50px;
}

.locacionCategoria i{
    color: red;
    font-size: 23px;
    padding: 2px;
}






@media (max-width: 768px) {

    footer{
        display: none !important;
    }

    .tarjeta{
        margin-bottom: 100px;
    }
    .tarjeta > h2{
        font-size: 1rem !important;   
    }

    .contenedorFormulario{
        width: 85% !important;
    }

    .menuNavegacion{
        position: absolute;
        width: 100%;
        height: 1000px;
        z-index: 100;
        top: 0px;
    }


    .headerInfoUser{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .headerInfoUser > .col-md-4{
        margin-top: 13px;
    }

    .headerInfoUser > .btnLoginEncabezado{
        margin-bottom: 20px;
    }

    .menuNavegacion > nav {
        display: block;
        margin: 0 auto;
        width: 95%;
    }
    .menuNavegacion > nav > ul{
        display: block;
        margin-top: 70px;
    }

    .cerrarMenu{
        position: absolute;
        top: 0px;
        color: white;
        right: 0px;
        font-size: 33px !important;
        z-index: 1000;
        background: red;
        margin-bottom: 10px;
        padding: 6px;
    }

    .btnFormulario{
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .tarjeta{
        margin-top: 15px;
    }

    .contenedorLogin{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 100px;

    }

  }
